@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Matemasie&family=Playwrite+ES+Deco:wght@100..400&family=Rubik+Bubbles&display=swap');
.header{
    background-color: rgb(189, 132, 243);
    display: flex;
    align-items: center;
    padding: 0;
}

.header-name{
    font-size: 35px;
    color: white;
    margin-left: 80px;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
}

.header-links{
    margin-left: 50%;
}

.nav-name{
    font-size: 30px;
    margin: 0 20px;
    padding: 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}